.essentialoruseful {

  &__article {
    height: 50vh;
    text-align: center;
    vertical-align: middle;
    display: block;
    width: 100vw;

    a {
      top: 50%;
      position: relative;
      font-size: 36px;
      color: $whitetext;
    }

    &--essential {
      background: #00CAFF;
    }

    &--useful {
      background: #F2B635;
    }
  }

}
@media (max-width: 600px) {
  .header__h1 {
    float: left;
    margin-left: 20px!important;
    position: relative;
    margin-top: 0px;
  }

  .logo__columns {
    margin-bottom: 3%!important;
  }
}
.essentialoruseful .header__h1 {
  font-size: 15px;
  display: inline;
  margin-left: 86px;
}
