.home {
  background: url("/images/home-bg-6.jpg");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;

  &__h1--header {
    font-size: 15px;
    display: inline-block;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    margin-right: calc(0% - 117px);
    text-shadow: 1px 1px 1px #6B6464;
  }

  h3 {
    font-size: 38px;
  }

  h3, h5 {
    width: 440px;
    margin: 0 auto;
    top: 30vh;
    position: relative;
    color: $homecream;
    text-align: center;
  }

  h5 {
    padding-top: 40px;
    font-size: 24px;
    text-align: center;
  }

  a {
    color: $red;
    width: 126px;
    margin: 0 auto;
    position: relative;
    display: block;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $homecream;
    top: 40vh;
    text-decoration: none;
    transition: all 600ms ease-out;
    -webkit-transition: all 600ms ease-out;
      -moz-transition: all 600ms ease-out;
        -o-transition: all 600ms ease-out;
  }

  a:hover {
    transition: 0.6 all ease;
    background-color: $red;
    color: $homecream;
    text-decoration: none !important;
  }

}
