.home {
  background: url("/images/home-bg-6.jpg");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;

  &__container {
    width: 440px;
    margin: 0 auto;
    top: 30vh;
    position: relative;
    color: $homecream;
    text-align: center;
    background: rgba(255,255,255, 0.3);
    padding: 20px;

    a {
      color: $red;
      width: 126px;
      margin: 0 auto;
      position: relative;
      display: block;
      font-size: 18px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: $homecream;
      text-decoration: none;
      margin-bottom: 15px;
      @include transition(all 600ms ease-out);
    }

  }

  &__h1--header {
    font-size: 15px;
    display: inline-block;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    margin-right: calc(0% - 117px);
  }

  h3 {
    font-size: 38px;
  }

  h5 {
    padding-top: 10px;
    font-size: 24px;
    text-align: center;
    padding-bottom: 20px;
  }


  a:hover {
    @include transition(0.6 all ease);
    background-color: $red;
    color: $homecream;
    text-decoration: none !important;
  }

}
