.essentialtools {

  &__col {

    &--linux1 {
      background-color: $red;
    }

    &--linux2 {
      background-color: $orange;
    }

    &--linux3 {
      background-color: $purple;
    }

    &--linux4 {
      background-color: $green;
    }

    &--linux5 {
      background-color: $yellow;
    }

  }
}
