<%= partial(:'partials/header', :locals => { :title => "Windows Set Up" }) %>
<div class="row">
<article class="bg-yellow">
  <section class="windows__section col-md-10 col-md-offset-2">
    Hey,
    <br>
    <br>
    To be honest, we are not really fan of windows so we offer you few options:
    <br>
    <br>
    <ul class="windows__ul">
      <li class="windows__li"><a href="https://github.com/makersacademy/dev_environment">Contribute to the project and create the windows tutorial (2 days work maximum)</a></li>
      <li class="windows__li"><a href="http://www.instructables.com/id/How-to-Dual-boot-Linux-and-Windows-on-a-PC-with-W/">Make a dual boot with Linux</a></li>
      <li class="windows__li"><a href="http://www.apple.com/uk/shop/browse/home/specialdeals/mac">Buy a mac on the refurb</a></li>
    </ul>
  </section>
</article>
</div>
