<header class="wow fadeInDown  header">
  <% link_to "../index.html" do %>
    <i class="fa fa-home"></i>
  <% end %>
  <h1 class="header__h1">
    Windows Set Up
  </h1>
  <span class="header__socials">
    <span class="header__share">
      SHARE
    </span>
    <% link_to "http://facebook.com" do %>
      <i class="fa fa-facebook"></i>
    <% end %>
    <% link_to "http://twitter.com" do %>
      <i class="fa fa-twitter"></i>
    <% end %>
  </span>
</header>
<div class="row">
<article class="bg-yellow">
  <section class="windows__section col-md-10 col-md-offset-2">
    Hey,
    <br>
    <br>
    To be honest, we are not really fan of windows so we offer you few options:
    <br>
    <br>
    <ul class="windows__ul">
      <li class="windows__li"><a href="https://github.com/makersacademy/dev_environment">Contribute to the project and create the windows tutorial (2 days work maximum)</a></li>
      <li class="windows__li"><a href="http://www.instructables.com/id/How-to-Dual-boot-Linux-and-Windows-on-a-PC-with-W/">Make a dual boot with Linux</a></li>
      <li class="windows__li"><a href="http://www.apple.com/uk/shop/browse/home/specialdeals/mac">Buy a mac on the refurb</a></li>
    </ul>
  </section>
</article>
</div>
