<%= partial(:'partials/header', :locals => { :title => "Windows Set Up" }) %>
<div class="row">
<article class="bg-yellow">
  <section class="windows__section col-md-10 col-md-offset-1">
    Hey,
    <br>
    <br>
    While we're building the guide for windows, please follow the instructions below to get your environment setup asap.
    <br>
    <br>
    <ul class="windows__ul">
      <li class="windows__li">Visit <a href="http://railsinstaller.org/en">this site</a> to download one of the options for Windows.</li>
      <li class="windows__li">Once the file has downloaded click on the *.EXE to open the installer</li>
      <li class="windows__li">Follow the instructions on there to the end.</li>
    </ul>
  </section>
</article>
</div>
