<%= partial(:'partials/header', :locals => { :title => "Linux Ubuntu Set Up" }) %>
<div class="row essentialoruseful">
    <article class="wow fadeInLeft essentialoruseful__article essentialoruseful__article--essential">
      <%= link_to 'Essential tools', "../linux/essential/index.html"  %>
    </article>
    <article class="wow fadeInRight essentialoruseful__article essentialoruseful__article--useful">
      <%= link_to 'Useful tools', "../linux/useful/index.html" %>
    </article>
</div>
