<header class="wow fadeInDown  header">
  <% link_to "../index.html" do %>
    <i class="fa fa-home"></i>
  <% end %>
  <h1 class="header__h1">
    Mac OS Set Up
  </h1>
  <span class="header__socials">
    <span class="header__share">
      SHARE
    </span>
    <% link_to "http://facebook.com" do %>
      <i class="fa fa-facebook"></i>
    <% end %>
    <% link_to "http://twitter.com" do %>
      <i class="fa fa-twitter"></i>
    <% end %>
  </span>
</header>
<div class="row essentialoruseful">
    <article class="wow fadeInLeft essentialoruseful__article essentialoruseful__article--essential">
      <%= link_to 'Essential tools', "../mac/essential/index.html"  %>
    </article>
    <article class="wow fadeInRight essentialoruseful__article essentialoruseful__article--useful">
      <%= link_to 'Useful tools', "../mac/useful/index.html" %>
    </article>
</div>
