<%= partial(:'partials/header', :locals => { :title => "Pick your OS" }) %>
<section class="row os">
  <article class="wow fadeInUp os__col os__col--1 col-md-4">
    <%= link_to 'Windows', '../windows/index.html'  %>
  </article>
  <article class="wow fadeInDown os__col os__col--2 col-md-4">
    <%= link_to 'OS X', '../essentialoruseful/mac.html' %>
  </article>
  <article class="wow fadeInUp os__col os__col--3 col-md-4">
    <%= link_to 'Linux', '../essentialoruseful/linux.html' %>
  </article>
</section>
